<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>


  <style>
      body {
          font-family: Avenir, sans-serif !important;
          background: whitesmoke;
      }

      /* Left column */
      .leftcolumn {
          padding: 16px;
          float: right;
          width: 30%;
          height:100%;
      }

      /* Right column */
      .rightcolumn {
          padding: 16px;
          float: right;
          width: 70%;
      }

      .card {
          border: 1px solid #e3e3e3;
          background-color: white;
          padding: 15px;
          margin-top: 10px;
      }

      /* Clear floats after the columns */
      .row:after {
          content: "";
          display: table;
          clear: both;
      }

      /* Responsive design */
      @media screen and (max-width: 700px) {
          .leftcolumn, .rightcolumn {
              width: 100%;
              padding: 0;
          }
      }


  </style>

</head>
<body>

<div id="main" class="container-fluid">
    <div class="row content">
        <div class="col-sm-12">
            <div style="margin-bottom: 0; margin-top: 10px"  class="well">
                <h3>UML Dashboard</h3>
                <p>Information about repository <b>{{ data.ProjectName }}</b></p>
                <b><a href="{{ data.ProjectUrl }}">{{ data.ProjectUrl }}</a></b>

                <!-- FILTER CHECKBOXES -->
                <form style="margin-top: 20px">
                    <p><b>Filter the analysis</b></p>
                    <label class="checkbox-inline">
                        <input type="checkbox"  id="checkbox1" value="">Filter 1
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">Filter 2
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">Filter 3
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">Filter 4
                    </label>
                </form>

                <button style="margin-top: 20px" class="btn btn-info" id="filterButton"> Apply Filters </button>


            </div>

            <div class="row">
                <div class="rightcolumn">
                    <div class="card">
                        <h3>UML Documentation Process Practice</h3>
                        <h5 id="commitRatio" >Commit Ratio </h5>
                        <div id="chartContainer" style="height: 370px; width: 100%;"></div>

                    </div>


                    <div class="card">
                        <h3>Documentation Updates</h3>
                        <h5>Description</h5>
                        <div id="chartContainerLine" style="height: 370px; width: 100%;"></div>

                    </div>

                </div>

                <div class="leftcolumn">
                    <div style="min-height: 483px" class="card">
                        <h3>Project Level</h3>
                        <p>The level of your project's documentation practices is..</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>


    var check = document.getElementById("checkbox1");
    console.log(check.checked);

    $("#filterButton").click( function () {
        if (check.checked) {
            console.log(check.checked);
        } else {
            console.log(check.checked);
        }
    });


    allData = {
        idProject : {{ data.idProject }},
        projectName : "{{data.ProjectName}}",
        projectURL : "{{ data.ProjectUrl }}",
        contributors : {{ data.Contributers }},
        documentName : "{{ data.DocumentName }}",
        allCommits : {{ data.NumberOfCommits }},
        umlCommits : {{ data.UMLCommits }},
        docSize : {{ data.DocumenSize }}

    };

    temp = [];
    temp.push(allData);
    console.log(temp);

    var arrayData = [];
    arrayData.push({{ data.idProject }});
    arrayData.push("{{ data.ProjectName }}");
    arrayData.push("{{ data.ProjectUrl }}");
    arrayData.push({{ data.Contributers }});
    arrayData.push("{{ data.DocumentName }}");
    arrayData.push({{ data.NumberOfCommits }});
    arrayData.push({{ data.UMLCommits }});
    arrayData.push({{ data.DocumenSize }});

    
    console.log("Project ID  " + {{ data.idProject }});




    /* RATIO VALUES */
    var commitRatio = allData.allCommits / allData.umlCommits;




window.onload = function() {
    var dataPointsLine = [];
    var dataPointsLine2 = [];
    var dataPointsPie = [];

        temp.forEach( function (arrayItem)
        {
            dataPointsPie.push({y: arrayItem.allCommits , name : "All Commits"  });
            dataPointsPie.push({y: arrayItem.umlCommits , name : "UML Commits"  });

        });


    var chart = new CanvasJS.Chart("chartContainer", {
        exportEnabled: true,
        animationEnabled: true,
        title: {
            text: "All Commits VS UML Commits"
        },
        legend: {
            cursor : "pointer",
            itemclick: explodePie
        },
        data: [{
            type: "pie",
            showInLegend: true,
            startAngle: 240,
            percentFormatString: "#0.##",
            toolTipContent: "{y}",
            yValueFormatString: "##0 Commits",
            indexLabel: "#percent%",
            dataPoints: dataPointsPie

        }]
    });

    var comr = document.getElementById("commitRatio");
    comr.innerHTML = "Commit ratio:  " + commitRatio.toFixed(2).bold().big();
    chart.render();




    //From Canvasjs
function explodePie (e) {
    if(typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
        e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
    } else {
        e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
    }
    e.chart.render();

}












}



/* OLD stuff. Remove later

    var dataPoints = [];

var chart = new CanvasJS.Chart("chartContainer", {
  animationEnabled: true,
  theme: "light2",
  title: {
    text: "Some other graph"
  },
  axisY: {
    title: "Units",
    titleFontSize: 24
  },
  data: [{
    type: "spline",
    yValueFormatString: "#,### Units",
    dataPoints: dataPoints
  }]
});

function addData(data) {
    console.log("BEFORE " + data.length);
  for (var i = 0; i < data.length; i++) {
    console.log(data.length);
    console.log(data[i].NumberOfCommits)
    console.log(data[i].UMLCommits);
    dataPoints.push({
      x: data[i].Total_Commits,
      y: data[i].Total_Commits
    });
  }
  chart.render();

}

$.getJSON("/data.json", addData);




// Lined Chart
    var dataPointsLine = [];
    var dataPointsLine2 = [];
    $.getJSON("/data.json", function(data) {
        $.each(data, function(key, value){
            console.log("LEEEE  " + value["Doc Commits"].length);
            dataPointsLine.push({x: value.Total_Commits, y: value["Doc Commits"].length  });
            dataPointsLine2.push({x: value["Doc Commits"].length , y:  value.Total_Commits });

        });
        var chart = new CanvasJS.Chart("chartContainerLine",{
            animationEnabled: true,
            zoomEnabled: true,
            theme: "light2",
            title:{
                text:"UML commit history"
            },
            axisX: {
                title: "UML Commits",
                titleFontSize: 24
            },
            axisY: {
                title: "Commit Frequency",
                titleFontSize: 24
            },
            data: [
                {
                    type: "spline",
                    dataPoints : dataPointsLine,
                },
                {
                    type: "spline",
                    dataPoints : dataPointsLine2,
                }

            ]
        });
        chart.render();
    });


*/


</script>

<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
</body>
</html>
